body {
    font-family: sans-serif;
    background-color: #cacfd2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #a6acaf;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea,
input[type="radio"] {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    /* Asegura que el select ocupe todo el ancho */
}

.radio-group label {
    display: inline-block;
    margin-right: 15px;
    font-weight: normal;
    width: auto;
    /* Permite que las etiquetas de radio se ajusten al contenido */
}

button {
    background-color: #5f698a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #8e9294;
}